html, body {
  height: 100%;
  
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #1F64FF;
  font-family: "Figtree", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
